<div id="<%= dom_id title %>">
  <p>
    <strong>:</strong>
    <%= title. %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= title.description %>
  </p>

  <p>
    <strong>:</strong>
    <%= title. %>
  </p>

</div>
